body {
  padding: 50px 30px 10px;
}

.scroll {
  height: 3000px;
  padding-right: 50px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: FreeMono, monospace;
  font-weight: 200;
  margin-right: 300px;
  margin-left: 300px;
  line-height: 30px;
}
.col {
  height: auto;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.item1 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  margin-bottom: 10px;
}
.item1 {
  background-image: url("img1.jpg");
  background-size: 100% 100%;
}
.item2 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  background-image: url("img2.jpg");
  background-size: 100% 100%;
}
.item3 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  background-image: url("img5.jpg");
  background-size: 100% 100%;
}
.item4 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  background-image: url("img4.jpg");
  background-size: 100% 100%;
}
.item5 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  margin-left: 10px;
  background-image: url("img3.jpg");
  background-size: 100% 100%;
}
.item6 {
  height: 340px;
  width: 340px;
  display: inline-block;
  flex-basis: auto;
  margin-left: 10px;
  background-image: url("img6.jpg");
  background-size: 100% 100%;
}
@media screen and (max-width: 1300px) {
  /*   body{
        width:1200px;
    }*/
  .col {
    height: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: 200;
    margin-right: 100px;
    margin-left: 100px;
    line-height: 30px;
  }
  .item1 {
    width: 300px;
    background-size: 100% 100%;
  }
  .item2 {
    width: 300px;
    background-size: 100% 100%;
  }
  .item3 {
    width: 300px;
    background-size: 100% 100%;
  }
  .item4 {
    width: 300px;
    background-size: 100% 100%;
  }
  .item5 {
    width: 300px;
    background-size: 100% 100%;
  }
  .item6 {
    width: 300px;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 1000px) {
  .col {
    height: auto;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: 200;
    margin-right: 100px;
    margin-left: 100px;
    line-height: 30px;
  }
  .item1 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
  }
  .item2 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
  }
  .item3 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .item4 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .item5 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
    margin-left: 0;
  }
  .item6 {
    height: 260px;
    width: 300px;
    background-size: 100% 100%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .col {
    height: auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: 200;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
  }
  .item1 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
  .item2 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
  .item3 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
  .item4 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
  .item5 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
  .item6 {
    height: 250px;
    width: 220px;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 600px) {
  /*    body{
            width:800px;
        }*/
  .col {
    height: auto;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  h1 {
    font-size: 2.2rem;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: 200;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
  }
  .item1 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
  }
  .item2 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
    margin-left: 0;
  }
  .item3 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
  }
  .item4 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
    margin-left: 0;
  }
  .item5 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
  }
  .item6 {
    height: 270px;
    width: 370px;
    background-size: 100% 100%;
    margin-left: 0;
  }
}

/* FOOTER */
.footer {
  background-color: rgb(255, 255, 255);
  margin-top: 120px;
  padding: 30px;
}

.footer-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}
